.mainContent {
  margin: 7% 5% 5% 5%;
}

.removeBulletinBtn {
  position: relative;
  bottom: 25%;
  right: 0;
  display: none;
}

.removeBulletinBtnImg {
  width: 10%;
  position: absolute;
  right: 5%;
  cursor: pointer;
}

#bulletinMainContent {
  margin-bottom: 2%;
}

#submitBtn {
  display: block;
}

#walletAddressGroup {
  width: 100%;
  display: inline-flex;
}

#logo {
  font-family: "memoriam-inline-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-top: 6%;
}

.card {
  margin-bottom: 5%;
}