body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.mainContent {
  margin-top: 5%;
}

.removeBulletinBtn {
  position: relative;
  bottom: 25%;
  right: 0;
  display: none;
}

.removeBulletinBtnImg {
  width: 10%;
  position: absolute;
  right: 5%;
  cursor: pointer;
}