@import "components/reset";
@import "components/typography";
@import "components/palette";
@import "components/responsiveStyles";

body {
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
}

hr {
  border-top: 1px solid $silver;
}

a, a:hover {
  color: inherit;
}

footer {
  background-color: $gunMetal;
  @include boxShadow();
}

button {
  background: none;
}

textarea:focus,
.form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.display-5 {
  font-size: 1.8rem;
}

.navbar {
  background-color: $gunMetal;
  @include boxShadow();
}

.jumbotron {
  background: none;
  padding: 0rem 1rem;
  margin-bottom: 0;
}

.container.logoContainer {
  display: flex;
}

.mainContent {
  margin-top: 4%;
  margin-bottom: 4%;
}

.equidistant {
  display: flex;
  justify-content: space-between;
}

.alert {
  font-family: $alert-font;
  font-style: normal;
  font-weight: 400;
  color: $orange;
  background-color: $white;
  border-color: $orange;
  display: none;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.card {
  border: none;
  @include boxShadow();
}

#toolbarContainer {
  margin-top: 1em;
  display: none;
}

#toolbar {
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
  display: flex;
  flex-wrap: wrap;
}

.card-header {
  font-family: $card-header-font;
  font-style: normal;
  font-weight: 700;
  background-color: $gunMetal;
}

.card-body {
  border-top: none;
  border-right-color: $silver;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: $silver;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: $silver;
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  height: 330px;
}

.form-group {
  margin-bottom: 0;
}

.sidebarHeader {
  display: flex;
}

.sidebarBulletinTitle {
  flex-grow: 2;
}

.bulletinIcon {
  width: 1rem;
  height: 1rem;
  color: $orange;
}

.eye {
  display: none;
  width: 16px;
  height: 9px;
  margin: 0 0.1em;
}

.bulletinListContainer {
  overflow-y: scroll;
}

.col-md-4, .col-md-8 {
  min-height: 0px;
}

.bulletinListItem {
  list-style-type: none;
  cursor: pointer;
}

.bulletinListItemInnerDiv {
  align-items: center;
  display: flex;
}

.cardHeaderTitle {
  width: 85%;
  font-size: 1.5rem;
  line-height: 1.2;
  color: $white;
  font-weight: 500;
  background-clip: padding-box;
  border: none;
  resize: none;
  background-color: transparent;
  vertical-align: middle;
}

.activeBtn#deleteAllBtn, .activeBtn#saveBtn, .activeBtn#bulletinListBtn {
  color: $orange;
}

.alertCloseBtn {
  display: flex;
}

#bulletinList {
  padding: .375rem .75rem;
}

#bulletinTitleContainer {
  display: flex;
}

#bulletinMainContent {
  border: none;
  resize: none;
}

#saveBtn, #deleteAllBtn, #addBulletinBtn, #bulletinListBtn ,#removeBulletinBtn, #addRecipientBtn {
  background-color: $gunMetal;
  color: $white;
}

#deleteAllBtn {
  visibility: hidden;
}

#bulletinCreateDate {
  resize: none;
  border: none;
  background: none;
  font-size: 0.8rem;
  padding: .375rem .75rem;
  width: 100%;
  text-align: center;
}

#bulletinContainer {
  display: none;
}

#recipientAddressContainer {
  display: none;
  width: 100%;
  margin-top: .5em;
}

#recipientAddress {
  resize: none;
  border: none;
  background: none;
  color: $white;
  padding: .75rem .75rem 0 0.5rem;
  flex-grow: 2;
}

#logoPic {
  width: 4em;
}

#logo {
  font-family: $logo-font;
  font-style: normal;
  font-weight: 900;
  padding-top: 2rem;
  color: $white;
  margin-bottom: 0;
}

#logo::before {
  content: url(../images/pin.png);
}

#subtitle {
  color: $orange;
  font-family: $logo-font;
  font-style: normal;
  font-weight: 900;
  font-size: 0.9rem;
}

#helpBanner {
  display: none;
}

#alertText {
  flex-grow: 2;
  line-height: 1.8em;
}