@import "components/reset";
@import "components/typography";
@import "components/palette";
@import "components/responsiveStyles";

body {
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
}

hr {
  border-top: 1px solid $silver;
}

a, a:hover {
  color: inherit;
}

footer {
  background-color: $gunMetal;
}

textarea:focus,
.form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.display-5 {
  font-size: 1.9rem;
}

.navbar {
  background-color: $gunMetal;
}

.jumbotron {
  background: none;
  padding: 0rem 1rem;
  margin-bottom: 0;
}

.container.logoContainer {
  display: flex;
  margin-left: 2%;
}

.mainContent {
  margin-top: 2%;
  margin-bottom: 2%;
}

.alert {
  font-family: $alert-font;
  font-style: normal;
  font-weight: 400;
  color: $orange;
  background-color: $white;
  border-color: $orange;
  display: none;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.card {
  margin-bottom: 1rem;
  border: none;
}

.card-header {
  font-family: $card-header-font;
  font-style: normal;
  font-weight: 700;
  background-color: $gunMetal;
}

.card-body {
  border-top: none;
  border-right-color: $silver;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: $silver;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: $silver;
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.sidebarHeader {
  display: flex;
}

.sidebarBulletinTitle {
  flex-grow: 2;
}

.bulletinIcon {
  width: 1rem;
  height: 1rem;
  color: $orange;
}

.eye {
  display: none;
  width: 16px;
  height: 9px;
  margin: 0 0.1em;
}

.bulletinListContainer {
  overflow-y: scroll;
}

.bulletinListItem {
  list-style-type: none;
  cursor: pointer;
}

.bulletinListItemInnerDiv {
  align-items: center;
  display: flex;
}

.cardHeaderTitle {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.2;
  color: $white;
  font-weight: 500;
  background-clip: padding-box;
  border: none;
  resize: none;
  background-color: transparent;
  vertical-align: middle;
}

.card-body {
  height: 350px;
}

.activeBtn#deleteAllBtn, .activeBtn#saveBtn {
  color: $orange;
}

.alertCloseBtn {
  display: flex;
}

#bulletinList {
  padding: .375rem .75rem;
}

#bulletinTitleContainer {
  display: flex;
}

#bulletinMainContent {
  border: none;
  resize: none;
}

#saveBtn, #deleteAllBtn, #addBulletinBtn, #removeBulletinBtn {
  background-color: $gunMetal;
  color: $white;
}

#deleteAllBtn {
  margin-left: 1rem;
}

#bulletinContainer {
  display: none;
}

#addressInput {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#logoPic {
  width: 4em;
}

#logo {
  font-family: $logo-font;
  font-style: normal;
  font-weight: 900;
  padding-top: 2rem;
  color: $white;
}

#logo::before {
  content: url(../images/pin.png);
}

#subtitle {
  color: $orange;
  font-family: $logo-font;
  font-style: normal;
  font-weight: 900;
  font-size: 0.9rem;
}

#alertText {
  flex-grow: 2;
  line-height: 1.8em;
}