textarea:focus,
input:focus,
.form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

input {
  background-color: transparent;
  border: 0px solid;
  color: #CCC;
  box-shadow: none;
}

@media screen and (max-width: 520px) {
  .card {
    width: 100% !important;
  }
}

.mainContent {
  margin: 5%;
}

.card {
  margin-bottom: 5%;
}

.card-header {
  font-family: "chennai-slab", serif;
}

.sidebarHeader {
  display: flex;
  padding: 0.75rem 1.25rem;
}

.addBulletinIcon {
  width: 1rem;
  height: 1rem;
}

.addBulletinBtn {
  padding: 0.1rem .4rem;
}

.bulletinListContainer {
  overflow-y: scroll;
  max-height: 493px;
}

.bulletinListItem {
  list-style-type: none;
  display: flex;
}

#bulletinList {
  padding: .375rem .75rem;
}

#sidebarTitle {
  flex-grow: 2;
  margin-bottom: 0;
}

#bulletinTitle {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.2;
  color: black;
  font-weight: 500;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  resize: none;
  background-color: transparent;
}

#bulletinMainContent {
  margin-bottom: 1.25em;
  border: none;
  resize: none;
}

#submitBtn {
  display: block;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#walletAddressGroup {
  width: 100%;
  display: inline-flex;
}

#addressInput {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#logo {
  font-family: "memoriam-inline-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-top: 6%;
}
